<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="theme-color" content="#DAF7A6"> {#    color chrome mobile#}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ asset('build/app.css') }}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>{% block title %} Събития {% endblock %}</title>

</head>
<body>
{% if app.user %}
    {% set current_page_event = 'li' %}
    {% set current_page_note = 'li' %}
    {% set current_page_client = 'li' %}
    {% set current_page_car = 'li' %}

    {% set route_client = 'client' in app.request.get('_route') %}
    {% set route_car = 'car' in app.request.get('_route') %}

    {% if app.request.get('_route') == 'events' or app.request.get('_route') == 'index' or
        app.request.get('_route') == 'create_event' %}
        {% set current_page_event = 'c-nav__current' %}
        {% set current_page = 'checked_event' %}
    {% elseif app.request.get('_route') == 'notes' %}
        {% set current_page_note = 'c-nav__current' %}
        {% set current_page = 'checked_note' %}
    {% elseif route_client == true %}
        {% set current_page_client = 'c-nav__current' %}
        {% set current_page = 'checked_client' %}
    {% elseif route_car == true %}
        {% set current_page_car = 'c-nav__current' %}
        {% set current_page = 'checked_car' %}
    {% endif %}
    <div class="c-site">
        <nav class="c-nav">
            <ul class="c-nav__lists">
                <li class="c-nav__list {{ current_page_event }} ">
                    <a class="c-nav__link" href="{{ path('events') }}">СЪБИТИЯ</a>
                </li>
                <li class="c-nav__list {{ current_page_note }}">
                    <a class="c-nav__link" href="{{ path('notes') }}">БЕЛЕЖКИ</a>
                </li>
                <li class="c-nav__list {{ current_page_client }}">
                    <a class="c-nav__link" href="{{ path('clients') }}">КЛИЕНТИ</a>
                </li>
                <li class=" c-nav__list {{ current_page_car }}">
                    <a class="c-nav__link" href="{{ path('cars') }}">КОЛИ</a>
                </li>
                <li class="c-nav__logout">
                    {% if app.user %}
                        <a class="logout-btn" href="{{ path('security_logout') }}"><img src="{{ asset('/img/logout.png') }}" alt="logout" title="Изход"></a>
                    {% endif %}
                </li>
            </ul>
        </nav>
        {{ include('message_event.html.twig') }}
        {{ include('telephone.html.twig') }}

        {% block body %}
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/validation-add-event.js') }}"></script>
        {% endblock %}
    </div>
{% else %}
    {{ include('security/login.html.twig') }}
{% endif %}
</body>
</html>
