{% block body %}
    {% for view_event in view_events %}

        {% set year_is_leap_event = view_event.date | date('L') %}
        {% set day_of_year_event = view_event.date|date('z') - year_is_leap_event %}
        {% set day_of_year_now = "now"|date('z') %}
        {% set diff_days = day_of_year_event - day_of_year_now + 1 %}

        {% set age = 'now'|date('Y') - view_event.date|date('Y') %}
        {% set days_remaining = view_event.daysRemaining %}

        {% if days_remaining == 0 %}
            {% set days_remaining = -1 %}
        {% endif %}

        {% if diff_days >= -1 and (diff_days <= 2 or days_remaining >= diff_days - year_is_leap_event) %}
            <div class="message">
                <div class="message-name">
                    {{ view_event.name }}
                </div>
                <div class="date">
                    {% if view_event.date|date('Y') == 1900 %}
                        {{ view_event.date|date('d.m') }}
                    {% else %}
                        {{ view_event.date|date('d.m.Y') }}
                    {% endif %}
                </div>
                <div class="message-much-time">
                    {% if "now"|date('m-d') == view_event.date|date('m-d') %}
                        {{ 'днес' }}
                    {% elseif diff_days == 2 %}
                        {{ 'вдругиден' }}
                    {% elseif diff_days == 1 %}
                        {{ 'утре' }}
                    {% elseif diff_days == -1 %}
                        {{ 'вчера' }}
                    {% endif %}

                    {% if age > 0 and view_event.date|date('Y') != 1900 %}
                        {{ age }}г.
                    {% elseif diff_days > 0 and view_event.daysRemaining > 0 %}
                        {{ 'остават: ' ~ diff_days ~ 'дни' }} ({{ view_event.daysRemaining }})
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
