<article>
    {% for view_event in view_events %}

        {% set year_is_leap_event = view_event.date | date('L') %}
        {% set day_of_year_event = view_event.date|date('z') - year_is_leap_event %}
        {% set day_of_year_now = "now"|date('z') %}
        {% set diff_days = day_of_year_event - day_of_year_now + 1 %}

        {% set age = 'now'|date('Y') - view_event.date|date('Y') %}
        {% set days_remaining = view_event.daysRemaining %}

        {% if days_remaining == 0 %}
            {% set days_remaining = -1 %}
        {% endif %}

        {% if diff_days >= -1 and (diff_days <= 2 or days_remaining >= diff_days - year_is_leap_event) %}
            <section class="c-message o-messages o-container">
                <article class="message__name">
                    {{ view_event.name }}
                </article>
                <article>
                    {{ view_event.category }}
                </article>
                <article class="message__date">
                    {% if view_event.date|date('Y') == 1900 %}
                        {{ view_event.date|date('d.m') }}
                    {% elseif view_event.category == 'ежегодни' or view_event.category == 'именден' %}
                        {{ view_event.date|date('d.m.') ~ "now"|date('Y') }}
                    {% else %}
                        {{ view_event.date|date('d.m.Y') }}
                    {% endif %}
                </article>
                <article class="message__much-time">
                    {% if "now"|date('m-d') == view_event.date|date('m-d') %}
                        {{ 'днес' }}
                    {% elseif diff_days == 2 %}
                        {{ 'вдругиден' }}
                    {% elseif diff_days == 1 %}
                        {{ 'утре' }}
                    {% elseif diff_days == -1 %}
                        {{ 'вчера' }}
                    {% endif %}

                    {% if age > 0 and view_event.date|date('Y') != 1900 and view_event.category != 'ежегодни' and view_event.category != 'именден' %}
                        {{ age }}г.
                    {% elseif diff_days > 0 and view_event.daysRemaining > 0 %}
                        {{ 'остават: ' ~ diff_days ~ 'дни' }} ({{ view_event.daysRemaining }})
                    {% endif %}
                </article>
                <article>
                    <a style="height: 40px;" href="{{ path( current_page, { id: view_event.id}) }}"
                       title="Отметни"
                       onclick="return confirm('Отметни {{ view_event.name }}')">
                        <i class="fa fa-check-square" style="font-size:24px; color:green; padding: 0.1em 0;"></i>
                    </a>
                </article>
            </section>
        {% endif %}
    {% endfor %}
</article>