{% block body %}
    {% for view_event in view_events %}

        {% set day_of_year_event = view_event.date|date('z') %}
        {% set day_of_year_now = "now"|date('z') %}
        {% set year_is_leap = "now" | date('L') %}
        {% set diff_days = day_of_year_event - day_of_year_now + year_is_leap %}
        {% set age = 'now'|date('Y') - view_event.date|date('Y') %}
        {% set days_remaining = view_event.daysRemaining %}

        {% if days_remaining == 0 %}
            {% set days_remaining = -1 %}
        {% endif %}

        {% if diff_days >= -1 and (diff_days <= 2 or days_remaining >= diff_days - year_is_leap) %}
            <section>
                <div class="name">
                    {{ view_event.name }}
                </div>
                <div class="date">
                    {{ view_event.date|date('d.m.Y') }}
                </div>
                <div class="">
                    {% if diff_days == 2 %}
                        {{ 'вдругиден на' }}
                    {% elseif diff_days == 1 %}
                        {{ 'утре на' }}
                    {% elseif diff_days == -1 %}
                        {{ 'вчера на' }}
                    {% endif %}

                    {% if age > 0 and view_event.date|date('Y') != 1900 %}
                        {{ age }}г.
                    {% elseif diff_days > 0 %}
                        {% set real_diff_days = diff_days - year_is_leap %}
                        {{ 'остават: ' ~ real_diff_days ~ 'дни' }} ({{ view_event.daysRemaining }})
                    {% endif %}
                    {% if "now"|date('m-d') == view_event.date|date('m-d') %}
                        {{ 'днес' }}
                    {% endif %}
                </div>
            </section>
        {% endif %}
    {% endfor %}
{% endblock %}
