{% extends 'base.html.twig' %}

{% block title %}Коли{% endblock %}

{% block body %}

    <form name="authenticate" action="{{ path('create_car') }}" class="" method="post">
        <section class="add-car">
            <input class="name" name="car[name]" id="name" placeholder="име" aria-label="">
            <input class="brand" name="car[brand]" id="brand" placeholder="марка" aria-label="">
            <input class="model" name="car[model]" id="model" placeholder="модел" aria-label="">
            <input class="cubic-power-year" name="car[cubic]" id="cubic" placeholder="куб." aria-label="">
            <input class="cubic-power-year" name="car[power]" id="power" placeholder="конски" aria-label="">
            <input class="cubic-power-year" name="car[year]" id="year" placeholder="година" aria-label="">
            <select class="motor" name="car[motor]" id="motor" aria-label="">
                <option>дизел</option>
                <option>бензин</option>
            </select>
            <input class="chassis" name="car[chassis]" id="chassis" placeholder="шаси" aria-label="">
            <textarea class="info" name="car[info]" id="info" placeholder="инфо" aria-label=""></textarea>
            <input class="save" type="submit" title="запиши" value="">
        </section>
    </form>
    {% for car in cars %}
        <section class="cars">
            <article class="cars-name">{{ car.name }}</article>
            <article class="cars-brand">{{ car.brand }}</article>
            <article class="cars-model">{{ car.model }}</article>
            <article class="cars-cubic-power-year">{{ car.cubic }}</article>
            <article class="cars-cubic-power-year">{{ car.power }}к.с.</article>
            <article class="cars-cubic-power-year">{{ car.year }}г.</article>
            <article class="cars-motor">{{ car.motor }}</article>
            <article class="cars-chassis">{{ car.chassis }}</article>
            <article class="cars-kilowatt">{{ (car.power * 0.745699872)|round(0, 'floor') }}</article>
            <article><textarea class="cars-info" aria-label="">{{ car.info }}</textarea></article>
            <article><input class="save cars-save-delete" type="submit" title="запиши" value=""></article>
            <article><input class="delete cars-save-delete" type="submit" title="изтрии" value=""></article>
        </section>
    {% endfor %}

{% endblock %}
