{% extends 'base.html.twig' %}

{% block title %}Коли{% endblock %}

{% block body %}
    <form name="authenticate" action="{{ path('create_car') }}" method="post">
        <section class="c-add-car bordered o-container">
            <input class="c-add-car__name" name="car[name]" id="name" placeholder="име" aria-label="">
            <input class="c-add-car__brand" name="car[brand]" id="brand" placeholder="марка" aria-label="">
            <input class="c-add-car__model" name="car[model]" id="model" placeholder="модел" aria-label="">
            <input class="c-add-car__cubic" name="car[cubic]" id="cubic" placeholder="куб." aria-label="">
            <input class="c-add-car__power" name="car[power]" id="power" placeholder="кон." aria-label="">
            <input class="c-add-car__year" name="car[year]" id="year" placeholder="год." aria-label="">
            <select name="car[motor]" id="motor" aria-label="">
                <option>дизел</option>
                <option>бензин</option>
            </select>
            <input class="c-add-car__chassis" name="car[chassis]" id="chassis" placeholder="шаси" aria-label="">
            <textarea class="c-add-car__info" name="car[info]" id="info" placeholder="инфо" aria-label=""></textarea>
            <input class="c-add-car__save" type="submit" title="запиши" value="">
        </section>
    </form>
    {% for car in cars %}
        <form name="authenticate" action="{{ path('edit_car', {id: car.id}) }}) }}" method="post">
            {% set power = car.power|slice(0, -2) %}
            <section class="c-car o-container bordered">
                <input class="c-car__name" name="car[name]" value="{{ car.name }}" aria-label="">
                <input class="c-car__brand" name="car[brand]" value="{{ car.brand }}" aria-label="">
                <input class="c-car__model" name="car[model]" value="{{ car.model }}" aria-label="">
                <input class="c-car__cubic" name="car[cubic]" value="{{ car.cubic }}" aria-label="">
                <input class="c-car__power" name="car[power]" value="{{ car.power }}" aria-label="">
                <input class="c-car__year" name="car[year]" value="{{ car.year }}" aria-label="">
                <input class="c-car__motor" name="car[motor]" value="{{ car.motor }}" aria-label="">
                <input class="c-car__chassis" name="car[chassis]" value="{{ car.chassis }}" aria-label="">
                <article class="c-car__kilowatt">{{ (power * 0.745699872)|round(0, 'floor') }}к.в.</article>
                <textarea class="c-car__info" name="car[info]"  aria-label="">{{ car.info }}</textarea>
                <input class="c-car__edit" type="submit" title="запиши" value="">
                <a class="c-car__delete bordered" href="{{ path('delete_car', { id: car.id}) }}"
                   onclick="return confirm('Изтрий {{ car.name }}')"></a>
            </section>
        </form>
    {% endfor %}
{% endblock %}
