{% extends 'base.html.twig' %}

{% block title %}Събития{% endblock %}

{% block body %}
    <div class="event-site">
        <form action="{{ path('create_event') }}" method="post" name="add-event" onsubmit="return Validate()">
            <div class="add-event" id="add-event">
                <input class="add-event-name" id="event-name" placeholder="Име" name="event[name]" aria-label="">
                <input class="add-event-date" type="date" name="event[date]" id="date" value="{{ "now" | date('Y-m-d') }}"
                       title="Дата" aria-label="">
                <select class="add-event-category" name="event[category]" id="category" title="Категория" aria-label="">
                    {% for category in categories %}
                        <option>{{ category.name }}</option>
                    {% endfor %}
                </select>
                <input class="add-event-days-remaining" name="event[days_remaining]" placeholder="дни" type="text" aria-label=""
                       title="Предсрочни" id="days-remaining">
                <input class="add-event-save" type="submit" name="add_event" value="" aria-label="">
            </div>
        </form>


        {% for event in events %}

            {% set eventImg = 'event' %}
            {% set eventName = 'event-name' %}
            {% if event.category == 'рожденици' %}
                {% set eventImg = 'event-birthday' %}
                {% set eventName = 'event-name-birthday' %}
            {% elseif event.category == 'именден' %}
                {% set eventImg = 'event-day' %}
                {% set eventName = 'event-name-day' %}
            {% endif %}
            <form name="authenticate" class="{{ eventImg }}" action="{{ path('edit_event', {id: event.id}) }}) }}"
                  method="post"
                  id="{{ event.id }}">
                <input class="{{ eventName }}" contenteditable="true" name="event[name]" value="{{ event.name }}"
                       aria-label=""/>
                {% set event_date = event.date %}
                {% set current_year = "now" | date('Y') %}
                {% set next_year = current_year + 1 %}
                {% set date = event_date | date('Y-m-d') %}
                {% if event_date | date('Y') == 1900 or event.category == 'именден' or event.category == 'ежегодни' %}
                    {% set date = event_date | date(current_year ~ '-m-d') %}
                    {% if (event_date | date(current_year ~ '-m-d') < "now" | date('Y-m-d')) %}
                        {% set date = event_date | date(next_year ~ '-m-d') %}
                    {% endif %}
                {% endif %}
                <input class="date" type="date" name="event[date]" value="{{ date }}" aria-label=""/>
                <select name="event[category]" aria-label="">
                    {% for category in categories %}
                        {% set selected = '' %}
                        {% if (category.name) == event.category %}
                            {% set selected = 'selected' %}
                        {% endif %}
                        <option value="{{ category.name }}" {{ selected }}>{{ category.name }}</option>
                    {% endfor %}
                </select>

                {{ include('event_time_remaining.html.twig') }}

                <input class="days-remaining" name="event[days_remaining]" value="{{ event.daysRemaining }}"
                       aria-label="">
                <a class="event-edit" onclick="document.getElementById('{{ event.id }}').submit();">запиши</a>
                <a class="event-delete" href="{{ path('delete_event', { id: event.id}) }}"
                   onclick="return confirm('Изтрий {{ event.name }}')">изтрий</a>
                <a style="text-decoration:none;" href="{{ path('hide_event', { id: event.id}) }}" title="Скрий"
                   onclick="return confirm('Скрий {{ event.name }}')">
                    <img class="hide-img" alt="Скрий" src="{{ asset('img/hide.png') }}">
                </a>

            </form>
        {% endfor %}
    </div>

    <a style="color: #F0F0F0;" href="{{ path('hidden_events_page') }}">Скрити</a>
{% endblock %}

